<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

	  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Apache Tomcat WebSocket Examples: Echo</title>
   
    <script src="${ctxPath}/js/plugins/sockjs/sockjs.min.js"></script>
    <script type="text/javascript">
        var ws = null;
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('echo').disabled = !connected;
        }

        function connect() {
            var target = document.getElementById('target').value;
            ws = new SockJS("http://localhost:8181/ws/chat?username="+target);
            ws.onopen = function () {
                setConnected(true);
                log('Info: WebSocket connection opened.');
            };
            ws.onmessage = function (event) {
                log('Received: ' + event.data);
            };
            ws.onclose = function () {
                setConnected(false);
                log('Info: WebSocket connection closed.');
            };
        }

        function disconnect() {
            if (ws != null) {
                ws.close();
                ws = null;
            }
            setConnected(false);
        }

        function echo() {
            if (ws != null) {
                var message = document.getElementById('message').value;
                log('Sent: ' + message);
                ws.send(target+":"+message);
            } else {
                alert('WebSocket connection not established, please connect.');
            }
        }

        function log(message) {
            var console = document.getElementById('console');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            console.appendChild(p);
            while (console.childNodes.length > 25) {
                console.removeChild(console.firstChild);
            }
            console.scrollTop = console.scrollHeight;
        }
    </script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websockets rely on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox chat-view">

                <div class="ibox-title">
                    <small class="pull-right text-muted">最新消息：2015-02-02 18:39:23</small> 聊天窗口
                </div>


                <div class="ibox-content">

                    <div class="row">

                        <div class="col-md-9 ">
                            <div class="chat-discussion">

                                <div class="chat-message">
                                    <img class="message-avatar" src="img/a1.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a1.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> 颜文字君</a>
                                        <span class="message-date"> 2015-02-02 18:39:23 </span>
                                            <span class="message-content">
											H+ 是个好框架
                                            </span>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <img class="message-avatar" src="img/a4.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a4.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> 林依晨Ariel </a>
                                        <span class="message-date">  2015-02-02 11:12:36 </span>
                                            <span class="message-content">
											jQuery表单验证插件 - 让表单验证变得更容易
                                            </span>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <img class="message-avatar" src="img/a2.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a2.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> 谨斯里 </a>
                                        <span class="message-date">  2015-02-02 11:12:36 </span>
                                            <span class="message-content">
											验证日期格式(类似30/30/2008的格式,不验证日期准确性只验证格式
                                            </span>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <img class="message-avatar" src="img/a5.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a5.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> 林依晨Ariel </a>
                                        <span class="message-date">  2015-02-02 - 11:12:36 </span>
                                            <span class="message-content">
											还有约79842492229个Bug需要修复
                                            </span>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <img class="message-avatar" src="img/a6.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a6.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> 林依晨Ariel </a>
                                        <span class="message-date">  2015-02-02 11:12:36 </span>
                                            <span class="message-content">
											九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~
                                                        
                                            </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="chat-users">


                                <div class="users-list">
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a4.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a4.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">伤城Simple</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a1.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a1.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">从未出现过的风景__</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">在线</span>
                                        <img class="chat-avatar" src="img/a2.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">冬伴花暖</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">在线</span>
                                        <img class="chat-avatar" src="img/a3.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">ZM敏姑娘	</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a5.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a5.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">才越越</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a6.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a6.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">时光十年TENSHI</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a2.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">刘顰颖</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="pull-right label label-primary">在线</span>
                                        <img class="chat-avatar" src="img/a3.jpg" tppabs="http://www.zi-han.net/theme/hplus/img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">陈泳儿SccBaby</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="chat-message-form">

                                <div class="form-group">

                                    <textarea class="form-control message-input" name="message" placeholder="输入消息内容，按回车键发送"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/js/jquery.min.js-v=2.1.4.js" tppabs="http://www.zi-han.net/theme/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxPath}/js/bootstrap.min.js-v=3.3.5.js" tppabs="http://www.zi-han.net/theme/hplus/js/bootstrap.min.js?v=3.3.5"></script>
<script src="${ctxPath}/js/content.min.js-v=1.0.0.js" tppabs="http://www.zi-han.net/theme/hplus/js/content.min.js?v=1.0.0"></script>
</body>
</html>