<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>H+ 后台主题UI框架 - 文章列表</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="${ctxPath}/favicon.ico" tppabs="http://www.zi-han.net/theme/hplus/favicon.ico">
    <link href="${ctxPath}/css/bootstrap.min.css-v=3.3.5.css" tppabs="http://www.zi-han.net/theme/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="${ctxPath}/css/font-awesome.min.css-v=4.4.0.css" tppabs="http://www.zi-han.net/theme/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="${ctxPath}/css/animate.min.css" tppabs="http://www.zi-han.net/theme/hplus/css/animate.min.css" rel="stylesheet">
    <link href="${ctxPath}/css/style.min.css-v=4.0.0.css" tppabs="http://www.zi-han.net/theme/hplus/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">
<div id="aticleListContainer" class="wrapper wrapper-content  animated fadeInRight blog">

</div>
<script src="${ctxPath}/js/jquery.min.js-v=2.1.4.js"></script>
<script src="${ctxPath}/js/bootstrap.min.js-v=3.3.5.js"></script>
<script src="${ctxPath}/js/content.min.js-v=1.0.0.js"></script>
<script src="${ctxPath}/js/content.min.js-v=1.0.0.js"></script>
<script type="text/javascript">
    $(function(){
        //初始化加在文章列表
        loadAticleList(1);
    });
    //加载文章
    function loadAticleList(index){
        var params=new Object();
        params.pageIndex=index;
        params.dataSize=200;
        $.ajax({
            url: 'crawler_aticle_list',
            type: 'post',
            data: params,
            success: function (data) {
                if (data.indexOf("{")==0) {
                    swal("获取文章列表提示", result.msg, "确定");
                } else {
                    $("#aticleListContainer").html(data);
                }
            }
        });
    }
</script>
</body>

</html>